.container {
  display: inline-block;
  margin-right: 20px;
}

.cartButton {
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.cartButton:hover path {
  fill: black !important;
}

.productsAmountIndicator {
  position: absolute;
  top: -5px;
  right: 1px;
}

.popup {
  position: absolute;
  top: 1;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
  top: 9vh;
  right: 10px;
  width: 360px;
  min-height: 260px;
}

@media screen and (min-width: 1300px) {
  .popup {
    right: 100px;
  }
}

.popupHeading {
  font-weight: 700;
  font-size: 1.6rem;
  color: #1d2026;
  padding: 20px;
  border-bottom: 1px solid #e4e9f2;
}

.popupContent {
  padding: 20px;
}
