.container {
  display: flex;
  width: 98%;
  justify-content: space-between;
  margin: 0 auto;
  height: 10vh;
  align-items: center;
  border-bottom: 1px solid #e4e9f2;
}

@media screen and (min-width: 1000px) {
  .container {
    width: 90%;
  }
}

@media screen and (min-width: 1300px) {
  .container {
    width: 70%;
  }
}

.leftColumn {
  width: 70%;
}

.rightColumn {
  width: 30%;
  display: flex;
  justify-content: end;
  align-items: center;
}
